<div class="row">
    <div class="container" >
        <div class="logo">
            <img src="../../../assets/img.png" class="logo" alt="" />

        
        
        <div class="redes">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user" id="IS"></i></a>
            <a class="nav-link" href="#" ><i class="fa-brands fa-linkedin" target="_blank" ></i></a>
            <a class="nav-link" href="#"><i class="fa-brands fa-youtube" target="_blank"></i></a>
            <a class="nav-link disabled"><i class="fa-brands fa-github" target="_blank"></i></a>
            <button type="button" class="btn btn-outline-light"> INICIAR SESIÓN</button>
        </div>
    </div>

    </div>
</div>